// Sidebar Profile
$PROFILE_HEIGHT: 140px;
$PROFILE_WIDTH: 140px;
$PROFILE_BACKGROUND: rgba(49, 116, 175, 0.3);

// Margin definition
$MARGIN_BOTTOM: 20px, 25px;
$MARGIN_LEFT: 5px;

// Active / Hover navigation bar 
$NAV_BLUE_BACKGROUND: #3174AF;

// Badge colors
$BADGE_COLOR: (
	active: #30C20E,
	inactive: #BA0000,
	white: #FFF
);