@import 'var';

html, body { 
	height:100%; 
	margin:0;
}

body{ 
  display:flex; 
  flex-direction:column;
  background-color: $GAINBORO !important; 
}

footer{
  margin-top:auto; 
  background-color: $PROFILE_BACKGROUND;
  padding: 15px;
}

@each $margin_bottom in $MARGIN_BOTTOM {
	.margin-bottom-#{$margin_bottom} {
		margin-bottom: $margin_bottom;
	}
}

@each $margin_left in $MARGIN_LEFT {
	.margin-left-#{$margin_left} {
		margin-left: $margin_left;
	}
}

@each $margin_right in $MARGIN_RIGHT {
	.margin-right-#{$margin_right} {
		margin-right: $margin_right;
	}
}

@each $badge, $color in $BADGE_COLOR {
	.badge-#{$badge} {
		background-color: $color !important;
	}
}

.badge-white { color: black !important;}
.font-italic { font-style: italic !important; }

.sidebar-profile {
	// old background
	//background-color: #FFF8DC;
	background-color: $PROFILE_BACKGROUND;
	margin-top: 25px;
	border-radius: 5px;
	padding: 20px;

	> img {
		width: auto;
		height: auto;
		max-width: $PROFILE_HEIGHT;
		max-height: $PROFILE_WIDTH;
	}
}

.table-goals {
	> thead, tbody {
		> tr {
			> th:nth-child(3), th:nth-child(2), td:nth-child(3), td:nth-child(2) {
				text-align: center;
			}
		}
	}
}

.navbar-dark {
	z-index: 2;
	background-color: rgba(0,0,0,1);
	border-radius: 0 !important;

	ul > li {
		a { color: white !important; }
	}
}

.dropdown-menu {
	background-color: black !important;
	> li > a:hover {
		background-image: none !important;
		background-color: $NAV_BLUE_BACKGROUND !important;
	}
}

.navbar-header {
	.navbar-toggle { background: white !important; }
	.icon-bar { background-color: black !important; }
	a { color: white !important; }
}

.active { background-color: $NAV_BLUE_BACKGROUND !important; }

.navbar-collapse { background-color: black !important; }

.navbar-nav {
	margin: 0 -15px !important;

	li {
		a:focus, a:hover, a:active { background-color: $NAV_BLUE_BACKGROUND !important; }
	}
}