// Sidebar Profile
$PROFILE_HEIGHT: 140px;
$PROFILE_WIDTH: 140px;

// Margin definition
$MARGIN_BOTTOM: 20px, 25px;

// Badge colors
$BADGE_COLOR: (
	active: #30C20E,
	inactive: #BA0000
);

html, body { 
	height:100%; 
	margin:0; 
}

body{ 
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
  background-color: #FFF8DC;
  font-weight: 700;
  padding: 15px;
}

@each $margin_bottom in $MARGIN_BOTTOM {
	.margin-bottom-#{$margin_bottom} {
		margin-bottom: $margin_bottom
	}
}

@each $badge, $color in $BADGE_COLOR {
	.badge-#{$badge} {
		background-color: $color !important;
	}
}

.sidebar-profile {
	background-color: #FFF8DC;
	border-radius: 10px;
	padding: 20px;

	> img {
		width: auto;
		height: auto;
		max-width: $PROFILE_HEIGHT;
		max-height: $PROFILE_WIDTH;
	}
}

.table {
	> thead, tbody {
		> tr {
			> th:nth-child(3), th:nth-child(2), td:nth-child(3), td:nth-child(2) {
				text-align: center;
			}
		}
	}
}

.btn-text-decoration-none > a:hover {
	text-decoration: none;
}

.font-italic {
	font-style: italic !important;
}

.navbar-dark {
	background-color: rgba(0,0,0,1);
	border-radius: 0 !important;

	> li {
		> a {
			color: white !!important;
		}
	}
}

.navbar-nav {
	margin: 0 -15px !important;
}