<aside class="sidebar-profile" >
	<img class="img-rounded" src="../../images/profile.jpg" alt="profile.jpg" />
	<h2>Akira F. Fukushima</h2>
	<p class="font-italic">Grinding coding for a better source control.</p>
	<div class="row">
		<div class="col-xs-6 col-md-6 col-sm-3">
			<p><i class="fas fa-code"></i><a class="margin-left-5px" target="_blank" href="https://aff.dev">aff.dev</a></p>
		</div>
		<div class="col-xs-6 col-md-6 col-sm-3">
			<p><i class="fas fa-globe"></i><a class="margin-left-5px" target="_blank" href="https://akiraff.com">akiraff.com</a></p>
		</div>
		<div class="col-xs-6 col-md-6 col-sm-3">
			<p><i class="fab fa-github"></i><a class="margin-left-5px" target="_blank" href="https://github.com/Akiraff2015">Akiraff2015</a></p>
		</div>
		<div class="col-xs-6 col-md-6 col-sm-3">
			<p><i class="fab fa-linkedin-in"></i><a class="margin-left-5px" target="_blank" href="https://linkedin.com/in/akiraff">Akiraff</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p><i class="far fa-envelope"></i> akiraff@hotmail.com</p>
		</div>
	</div>

	<h3>Technical summary skills</h3>

	<div class="row">
		<section class="col-sm-4 col-xs-6 col-md-12 margin-bottom-25px">
			<h4>Frontend</h4>
			<span class="badge">HTML</span>
			<span class="badge">CSS</span>
			<span class="badge">JavaScript</span>
			<span class="badge">SASS</span>
			<span class="badge">React</span>
			<span class="badge">Bootstrap</span>
			<span class="badge">jQuery</span>
		</section>

		<section class="col-sm-4 col-xs-6 col-md-12 margin-bottom-25px">
			<h4>Backend</h4>
			<span class="badge">Express</span>
			<span class="badge">NodeJS</span>
			<span class="badge">PHP</span>
			<span class="badge">SQL</span>
			<span class="badge">Mongo</span>
			<span class="badge">API Services</span>
		</section>

		<section class="col-sm-4 col-xs-12 col-md-12 margin-bottom-20px">
			<h4>Others</h4>
			<span class="badge">Git</span>
			<span class="badge">FileZilla Client</span>
			<span class="badge">Unix terminal commands</span>
		</section>
	</div>

	<a href="https://linkedin.com/in/akiraff">
		<button target="_blank" class="form-control btn btn-primary">Connect me @LinkedIn</button>
	</a>
</aside>
