<!DOCTYPE html>
<html>
	<%- include("../_partials/head") %>
	<body>
		<%- include("../_partials/nav") %>

		<main class="container">
			<article class="row">
				<section class="col-md-9">
					<h1>Personal Website</h1>
				</section>
				<aside class="col-md-3">
					<%- include("../_partials/sidebar") %>
				</aside>
			</article>
		</main>
		<%- include('../_partials/footer') %>
	</body>
</html>